//General styles
html,
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
svg {
  color: #0288d1;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

//Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  height: 64px;

  .menu-icon {
    margin-left: 4px;
  }
}

.logo {
  position: absolute;
  z-index: 8000;
  width: 90px;
  top: -3px;
  right: 50%;
}

//Navbar drawer
.drawer-header {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  width: 240px;
}

div.MuiDrawer-paper {
  -webkit-box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.4);
}

//Header
.home {
  margin-top: 25vh;

  .MuiButton-root {
    margin-top: 2vh;
    background-color: #4caf50;
    &:hover {
      background-color: #1b5e20;
    }
  }
  .MuiSvgIcon-root {
    padding-left: 1vh;
  }
}

//Map
.map {
  display: flex;
  width: 100vw;
  height: 100vh;

  .drawer-button {
    margin: 10vh 2vh;
    background: rgba(250, 250, 250, 0.8);
    &:hover {
      background: #fafafa;
    }
    .pin-point {
      background: none;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }

  //Popup
  .mapboxgl-popup-content {
    background-color: #fafafa;
    -webkit-box-shadow: -0px 5px 10px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -0px 5px 10px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -0px 1px 10px 5px rgba(0, 0, 0, 0.4);

    .connections {
      display: flex;
      justify-content: space-evenly;

      .connection-type {
        margin: 0 2vh;
      }

      .MuiTypography-root {
        font-size: 12px;
      }
    }
  }

  :focus.mapboxgl-popup-close-button {
    outline: none;
  }
}

//Side drawer
.side-drawer {
  position: absolute;
  top: 10vh;
  left: 1vw;
  z-index: 1;
  .side-button {
    background-color: rgba(250, 250, 250, 0.8);
    &:hover {
      background-color: rgba(250, 250, 250, 1);
    }
  }
}

//Side drawer popup modal
.MuiDrawer-root.MuiDrawer-modal {
  position: relative !important;
  .MuiDrawer-paper {
    align-items: flex-end;
    padding: 1vh;
  }
  .inner-drawer {
    width: 40vw;
  }
  .MuiBackdrop-root {
    visibility: hidden;
  }
}

//About
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

//Contact
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media only screen and (max-width: 800px) {
  //Navbar
  .logo {
    position: absolute;
    right: 40%;
    width: 80px;
  }
  //Home page
  .home {
    margin-top: 30vh;

    .home-image {
      display: none;
    }
  }
}
