//General styles
html,
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
svg {
  color: #0288d1;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

//Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  height: 64px;

  .menu-icon {
    margin-left: 4px;
  }
}

.logo {
  position: absolute;
  z-index: 8000;
  width: 90px;
  top: -3px;
  right: 50%;
}

//Drawer
.drawer-header {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  width: 240px;
}

div.MuiDrawer-paper {
  -webkit-box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.4);
}

//Header
.home {
  margin-top: 25vh;

  .MuiButton-root {
    margin-top: 2vh;
    background-color: #4caf50;
    &:hover {
      background-color: #1b5e20;
    }
  }
  .MuiSvgIcon-root {
    padding-left: 1vh;
  }
}

//Map
.map {
  display: flex;

  .pin-point {
    background: none;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

//Side drawer
.side-drawer {
  background: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 40vw;
  height: 100vh;
  -webkit-box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.4);

  .MuiIconButton-root {
    position: absolute;
    top: 8.8vh;
    left: 36.3vw;
  }
}

//About
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

//Contact
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .logo {
    position: absolute;
    right: 40%;
    width: 80px;
  }

  .home {
    margin-top: 30vh;

    .home-image {
      display: none;
    }
  }

  .side-drawer {
    width: 50vw;

    .MuiIconButton-root {
      left: 35vw;
    }
  }
}
